<!DOCTYPE html>
<html lang="en">
<head th:replace="~{employees :: import}">
    <meta charset="UTF-8">
    <title>Add new createEmployee</title>
</head>
<body>
<nav th:replace="~{employees :: navbar}" ></nav>
<h2>Add new Employee</h2>

<form th:action="@{/saveEmployee}" method="post" th:object="${addEmp}" enctype="multipart/form-data">
    <div>
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text">First name</span>
            </div>
            <input type="text" class="form-control" th:field="*{firstName}" aria-describedby="addon-wrapping" required>
        </div>

        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text">Last name</span>
            </div>
            <input type="text" class="form-control" th:field="*{lastName}" aria-describedby="addon-wrapping" required>
        </div>

        <label>BirthDate :</label>
        <input type="date" id="birthDate" th:field="*{birthDate}" required>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Gender</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" th:field="*{gender}" required>
                <option value="H">H</option>
                <option value="F">F</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1" >Email address</label>
            <input type="email" class="form-control" th:field="*{personalEmail}" id="exampleFormControlInput1" required>
        </div>

        <div>
            <label>Profile :</label>
            <input method="post"
                   type="file"
                   accept="image/*"
                   th:field="*{profile}"
                   class="form-control-file"
                   id="exampleFormControlFile1">
        </div>

        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text">Location</span>
            </div>
            <input type="text" class="form-control" th:field="*{address}" aria-describedby="addon-wrapping" required>
        </div>

        <label>Engagement date :</label>
        <input type="date" id="date1" th:field="*{engagementDate}" required>

        <label>resignation date :</label>
        <input type="date" id="date2" th:field="*{resignationDate}">
    </div>

    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <span class="input-group-text">Children</span>
        </div>
        <input type="number" class="form-control" th:field="*{childrenCount}" aria-describedby="addon-wrapping" required>
    </div>

    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <span class="input-group-text">CNAPS number</span>
        </div>
        <input type="text" class="form-control" th:field="*{cnapsNumber}" aria-describedby="addon-wrapping" required>
    </div>
    <button type="submit" value="upload" class="btn btn-primary">Add</button>
</form>
</body>
</html>