<!DOCTYPE html>
<html lang="en">
<head th:fragment="import">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    <title>List of employees</title>
</head>
<body align="center">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" th:fragment="navbar">
        <li class="breadcrumb-item">
            <a href="/employees">Employees</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/employeeFile">Employee file</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/addEmployee">Add employees</a>
        </li>
    </ol>
</nav>
    <form th:action="@{/employees}" method="get">
        <div id="searchForm" class="form-row" th:object="${filter}">
            <div class="col">
                <input type="text" class="form-control" th:field="*{firstName}" name="firstName" placeholder="First Name">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="lastName" placeholder="Last Name">
            </div>
            <div class="col">
                <select class="form-control" name="gender">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="function" placeholder="Function">
            </div>
            <div class="col">
                <input type="date" class="form-control" name="engagementDate" placeholder="Hiring From Date">
            </div>
            <div class="col">
                <input type="date" class="form-control" name="resignationDate" placeholder="Hiring To Date">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary" >Search</button>
            </div>
        </div>

<h2>List of employees</h2>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>BirthDate</th>
        <th>Registration number</th>
    </tr>
    </thead>
    <tbody th:object="${emp}">
        <tr th:each="employee : ${emp}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.gender}"></td>
            <td th:text="${employee.birthDate}"></td>
            <td th:text="${employee.registrationNumber}"></td>
            <td>
                <a th:href="${'/employees/'+ employee.id}" class="btn btn-primary">Details</a>
            </td>
        </tr>
    </tbody>
</table>
</form>
</body>
</html>